html{
    font-size: 10px;
}

:root {
    --black-color:   #000000;
    --blackmedium-color:#333;
    --about-color:   #008073;
    --exp-color:     #00bcd4;
    --projects-color:#3f51b5;
    --games-color:   #e9967a;
    --skills-color:  #9c27b0;
    --awards-color:  #F44336;
    --education-color:#ff9800;
    --contact-color: #795548;
    --blog-color:    #fbc02d;
    --resume-color:  #424242;
    --liteGray-color:#fafafa;
    --gray-color:    #dddddd;
    --white-color:   #ffffff;
}

ul{
    margin: 0;
    padding: 0;
}

a:hover{
    color: var(--about-color);
    text-decoration: none;
}

main{
    background: url(/Images/bg.png) repeat;
    height: 100%;
    padding-left: 21rem;
}

h1 {
    font-size: 4rem; 
    line-height: 4.5rem;
}

h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 0 0 1.5rem 0;
}

h3 {
    font-weight: 200;
    margin-bottom: 6rem;
    padding: 3rem 4rem;
    text-transform: uppercase;
}
h4 {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin: 0 0 1rem 0;
}
p{
    font-size: 2rem;
    line-height: 2.5rem;

}

.nav__list{
    left: 0;
    position: fixed;
    width: 21rem;
    height: 100%;
    background-color: var(--white-color);
}

.nav__listLogo{
    background-color: var(--liteGray-color);
    border-bottom: 1px solid var(--gray-color);
    box-sizing: content-box;
    min-height: 9rem;
    padding: 3rem 3rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 2.6rem;
    color: var(--about-color);
}

.brown__text{
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--contact-color);
    margin-top: 1rem;
}

.nav__listItem{
    display: block;
    line-height: 100%;
    font-size: 1.7rem;
    color: var(--blackmedium-color);
}
.nav__listItem:hover{
    background-color: var(--liteGray-color);
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.nav__listItem a{
    display: flex;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 1rem 0 1.2rem;
    font-weight: 300;
    color: black;
}

.icon{
    width: 2.9rem;
    height: 2.9rem;
    margin: 0 1rem;
}

.item__about:hover{
    border-left: 5px solid var(--about-color);
}
.item__exp:hover{
    border-left: 5px solid var(--exp-color);
}
.item__projects:hover{
    border-left: 5px solid var(--projects-color);
}
.item__games:hover{
    border-left: 5px solid var(--games-color);
}
.item__skills:hover{
    border-left: 5px solid var(--skills-color);
}
.item__awards:hover{
    border-left: 5px solid var(--awards-color);
}
.item__education:hover{
    border-left: 5px solid var(--education-color);
}
.item__contact:hover{
    border-left: 5px solid var(--contact-color);
}
.item__blog:hover{
    border-left: 5px solid var(--blog-color);
}
.item__resume:hover{
    border-left: 5px solid var(--resume-color);
}

.icon__about   { fill: var(--about-color);}
.icon__exp     { fill: var(--exp-color);}
.icon__projects{ fill: var(--projects-color);}
.icon__games   { fill: var(--games-color);}
.icon__skills  { fill: var(--skills-color);}
.icon__awards  { fill: var(--awards-color);}
.icon__education{ fill:var(--education-color);}
.icon__contact { fill: var(--contact-color);}
.icon__blog    { fill: var(--blog-color);}
.icon__resume  { fill: var(--resume-color);}



/* section intro */

#intro.section {
    background: url(/Images/bg_intro.jpg) no-repeat top center/cover;
    position: relative;
}

.intro__textPositeon{
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-height {
    height: 100vh;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#intro.section .container {
    color: white;
    font-weight: 200;
    left: 0;
    position: absolute;
    top: 0;
}

#intro.section .teal {
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: center;
}

.teal {
    background-color: #008073 !important;
}

/* section about */

.about__title{
    color: var(--white-color);
    font-size: 3rem;
    padding: 3rem 4rem;
    margin-bottom: 6rem;
}

.about__titleText{
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 3rem;
}

.about__margin{
    margin-bottom: 8rem;
}

.cardGroup__logo{
    margin-bottom: 2rem;
}

.cardGroup__iconService{
    width: 7rem;
}

.cardGroup__iconRutego{
    width: 10.5rem;
}

/*section games*/
.projects__img{
    width: 100%;
    height: 14rem;
    background: black;
    margin-bottom: 1rem;
}
.projects__link{
    display: block;
    color: black;
    transition: all 0.3s ease-out;
}
.projects__link:hover{
    color: #008073;
}

/*section skills*/
.cardGroup {
    margin-bottom: 6rem;
    background-color: var(--white-color);
    padding: 2rem 2rem 1rem 2rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

 .card__title{
    color: #795548;
    border-bottom: 1px solid #ddd;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.card__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: var(--blackmedium-color);
}

.card__item img{
    width: 9rem;
    height: 9rem;
}

/* education section*/




@media (max-width: 992px) {
    .nav__list {display: none;}
    main{
        padding-left: 0;
    }
} 

@media (max-width: 576px) {
    .img__tulgu{
        display: none;
    }
} 